/* font-family: "OpenSansRegularBold"; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* font-family: "ArialRegular"; */
@font-face {
  font-family: "ArialRegular";
  src: url("../fonts/ArialRegular/ArialRegular.eot");
  src: url("../fonts/ArialRegular/ArialRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("../fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArialBold"; */
@font-face {
  font-family: "ArialBold";
  src: url("../fonts/ArialBold/ArialBold.eot");
  src: url("../fonts/ArialBold/ArialBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ArialBold/ArialBold.woff") format("woff"),
    url("../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

body {
  background: #e5e5e5;
}

.banner {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 24px;
  margin: 0 auto;
  min-height: 80px;
  p {
    max-width: 379px;
    width: 100%;
    word-wrap: break-word;
    span {
      &:first-child {
        text-decoration: line-through;
      }
      &:last-child {
        font-weight: bold;
      }
    }
    br {
      display: none;
    }
  }

  .btn {
    font-weight: bold;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
  }
  + .banner {
    margin-top: 120px;
  }
}

.banner-first {
  max-width: 672px;
  width: 100%;
  span {
    &:nth-child(1) {
      text-decoration: line-through;
    }
    &:last-child {
      color: #ff7e4a;
    }
  }
  .btn {
    max-width: 156px;
    width: 100%;
    height: 44px;
    background: #ff7e4a;
    box-shadow: 0px 6px 10px rgba(16, 17, 19, 0.1);
    border-radius: 22px;
  }
}

.banner-second {
  font-family: Arial;
  color: #101010;
  max-width: 640px;
  width: 100%;
  border: 1px solid #e5e8ec;
  border-radius: 16px;
  span {
    &:last-child {
      color: #f7b100;
    }
  }
  .btn {
    font-family: Arial;
    max-width: 159px;
    width: 100%;
    height: 48px;
    background: #f7b100;
    border-radius: 8px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    flex-direction: row;
    padding: 20px 16px;
    p {
      margin-bottom: 16px;
      word-wrap: normal;
      br {
        display: inline-block;
      }
    }
    p,
    del,
    span {
      font-size: 14px;
      line-height: 20px;
    }

    .btn {
      margin: 0 auto;
      max-width: 145px;
      width: 100%;
      height: 40px;
      border-radius: 20px;
    }
  }

  .banner-first {
    max-width: 264px;
    width: 100%;
    min-height: 152px;
    height: 100%;
  }

  .banner-second {
    max-width: 296px;
    width: 100%;
    min-height: 148px;
    height: 100%;
    text-align: center;
    flex-direction: column;
    p {
      margin: 0 auto 16px;
      font-size: 16px;
      line-height: 24px;
    }
    .btn {
      border-radius: 8px;
      max-width: 124px;
      width: 100%;
      height: 36px;
    }
  }
}
